<div class="container">
  <img src="https://www.packt.com.my/wp-content/uploads/2019/07/PACKT_headerlogo.png"
    style="margin-left:42%; height: 100px" />
  <div class="button-container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="3em"
    style="text-align: center;margin-top:24px">

    <mat-card routerLink="/measure" fxFlex="30%" class="button-box mat-elevation-z5" id="acceptance"
      style="height:30vh">
      <mat-card-content style="padding: 6em 0">
        <span style="font-size: 3em">Acceptance</span>
      </mat-card-content>
    </mat-card>
    <mat-card routerLink="/buildup" fxFlex="30%" class="button-box mat-elevation-z5" id="buildup" style="height:30vh">
      <mat-card-content style="padding: 6em 0">
        <span style="font-size: 3em">Build Up</span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
