<div class="container">
  <div fxLayout="row">
    <div style="width: 100%">
      Build Up<h1>ULD: PMC12345D7</h1>
    </div>
    <div style="width: 50%; text-align: right">
      Total Weight:<h1> {{totalWeight}} KG</h1>
    </div>
    <div style="width: 50%; text-align: right">
      Total Pieces:<h1> {{totalPieces}} PC</h1>
    </div>
  </div>


  <div class="buildup-container" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2em">
    <mat-card class="buildup-item" fxFlex="50">
      <label for="awb">Air WayBills:</label>
      <mat-list *ngFor="let awb of scannedResults">
        <mat-list-item>
          <h2>{{awb.awb}} - {{awb.pieces}}</h2>
        </mat-list-item>
      </mat-list>
    </mat-card>

    <div class="text-align:center" fxFlex="50">
      <zxing-scanner (scanSuccess)="scanSuccess($event)"></zxing-scanner>
      <p style="font-size: 20px; text-align: center">Scan Air WayBill</p>
    </div>
  </div>

</div>
