<mat-toolbar color="white">
  <mat-toolbar-row fxLayoutAlign="space-between start">
    <router-outlet>
      <div>
        <img src="https://www.posaviation.com.my/media/1042/logo.png" />
        <span style="font-size: 2.7em;margin-left:16px; vertical-align: super;">X I-Team</span>
      </div>
    </router-outlet>
    <img style="margin-top:4px"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a8/Microsoft_Azure_Logo.svg/1280px-Microsoft_Azure_Logo.svg.png"
      height="50px" />
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
