<div class="loading-indicator" *ngIf="isLoading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div class="container" *ngIf="!isLoading">
  <div class="breadcrumb" style="margin-bottom: 24px">
    Home > Acceptance > Measure Dimensions
  </div>
  <div fxLayoutAlign="space-between start" fxLayoutGap="2em" *ngIf="!selectedAwb">
    <mat-card fxFlex="40" *ngFor="let awb of awbs" style="padding: 2em; text-align: center" (click)="onClickAwb(awb)">
      <mat-card-content>
        <!-- {{awb.requestShipTime|json}} -->
        <h1>{{awb.id}}</h1>
        <h3>KUL > {{awb.destination}}</h3>
        <p>
          <countdown [config]="{leftTime: 3000, template: '$!h!H $!m!M $!s!S'}"></countdown>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="form-container" fxLayoutAlign="space-between start" fxLayoutGap="2em">

    <div class="form-item" fxFlex="30">
      <table mat-table *ngIf="selectedAwb" [dataSource]="selectedAwb.items" class="mat-elevation-z2">
        <ng-container matColumnDef="natureAndQuatityOfGoods">
          <th mat-header-cell *matHeaderCellDef> Nature And Quantity Of Goods </th>
          <td mat-cell *matCellDef="let element"> {{element.natureAndQuantityOfGoods}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div class="form-subitem" fxFlex="65" fxLayout="row wrap" fxLayoutGap="3em" *ngIf="this.selectedAwb">
      <div class="indicator" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="2em" fxFlex="100"
        *ngIf="imageResult">
        <div class="dimension" fxFlex="70">
          <label for="dimension">Dimension</label>
          <h1>
            {{imageResult.width.toFixed(2)}}
            x
            {{imageResult.length.toFixed(2)}}
            x
            {{imageResult.height.toFixed(2)}}
            cm
            <sup>3</sup>
          </h1>
        </div>
        <div class="dimension" fxFlex="30">
          <h1>{{ currentScannedPieces}} / {{selectedAwb.itemCount}} Pieces</h1>
        </div>
      </div>
      <div fxFlex="100" fxLayout fxLayoutAlign="start start" fxLayoutGap="2em" *ngIf="isCameraActive">
        <div fxFlex="100" (click)="triggerSnapshot()">
          <h1 *ngIf="images.length == 0">Top Camera View</h1>
          <h1 *ngIf="images.length == 1">Side Camera View</h1>
          <webcam [height]="800" [width]="650" [trigger]="triggerObservable" (imageCapture)="handleImage($event)">
          </webcam>
          <!-- <div class="cam" fxLayoutAlign="end">
            <button mat-raised-button color="primary" (click)="triggerSnapshot()"
              *ngIf="this.selectedAwb">Camera</button>
          </div> -->
        </div>
      </div>
      <div fxFlex="100" fxLayout fxLayoutAlign="start start" fxLayoutGap="2em" *ngIf="!isCameraActive"
        style="margin-bottom: 24px">
        <div class="form-item camera" fxFlex="50">
          <figure style="text-align: center;">
            <!-- <webcam [height]="400" [width]="350" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
              *ngIf="images.length === 0"></webcam> -->
            <img [src]="imageResult?.topImageUrl || images[0].imageAsDataUrl" *ngIf="images.length > 0" width="100%">
            <figcaption>Top View</figcaption>
          </figure>
          <!-- <div class="cam" fxLayoutAlign="end">
            <button mat-raised-button color="primary" (click)="triggerSnapshot()"
              *ngIf="this.selectedAwb">Camera</button>
          </div> -->
        </div>
        <div class="form-item camera" fxFlex="50">
          <figure style="text-align: center;">
            <!-- <webcam [height]="400" [width]="350" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
              *ngIf="images.length === 1"></webcam> -->
            <img [src]="imageResult?.sideImageUrl || images[1].imageAsDataUrl" *ngIf="images.length > 1" width="100%">
            <figcaption>Side View</figcaption>
          </figure>
          <!-- <div class="cam" fxLayoutAlign="end">
            <button mat-raised-button color="primary" (click)="triggerSnapshot()"
              *ngIf="images.length > 0">Camera</button>
          </div> -->
        </div>
      </div>
      <div fxFlex="100" fxLayout fxLayoutAlign="center center" fxLayoutGap="2em" *ngIf="!isCameraActive"
        style="padding: 24px">
        <button mat-raised-button color="primary" (click)="scanNext()"
          *ngIf="images.length == 2 && scanResults.length !== selectedAwb.itemCount">Scan
          Next</button>
        <button mat-raised-button color="primary" routerLink="/checklist"
          *ngIf="scanResults.length == selectedAwb.itemCount" style="margin-top: 24px">Go to Checklist</button>
      </div>

      <!-- <div class="button-container" fxFlex fxLayoutAlign="center center">
                <button mat-raised-button color="primary">Submit</button>
            </div> -->
    </div>

  </div>
</div>
