<h1 mat-dialog-title style="color:red">Incorrect Air WayBill</h1>
<div style="text-align: center">
  <h2 style="color:red">{{data.message}}</h2>
  <button color="primary" mat-raised-button mat-dialog-close>Dismiss</button>
</div>
