<div class="container" style="text-align: center" fxLayout="column" fxLayoutAlign="center center">
  <div class="breadcrumb">
    Home > Acceptance > Checklist
  </div>
  <!-- {{scanResults|json}} -->
  <h3>Shipment Measurements</h3>
  <table mat-table [dataSource]="scanResults" class="mat-elevation-z8" id="measurement">

    <ng-container matColumnDef="qty">
      <th style="text-align: center" mat-header-cell *matHeaderCellDef> Number of Pieces </th>
      <td mat-cell *matCellDef="let element"> 1 </td>
    </ng-container>

    <ng-container matColumnDef="length">
      <th style="text-align: center" mat-header-cell *matHeaderCellDef> Length </th>
      <td mat-cell *matCellDef="let element"> {{element.length.toFixed(2)}} </td>
    </ng-container>

    <ng-container matColumnDef="width">
      <th style="text-align: center" mat-header-cell *matHeaderCellDef> Width </th>
      <td mat-cell *matCellDef="let element"> {{element.width.toFixed(2)}} </td>
    </ng-container>

    <ng-container matColumnDef="height">
      <th style="text-align: center" mat-header-cell *matHeaderCellDef> Height </th>
      <td mat-cell *matCellDef="let element"> {{element.height.toFixed(2)}} </td>
    </ng-container>

    <ng-container matColumnDef="volumetric">
      <th style="text-align: center" mat-header-cell *matHeaderCellDef> Volumetric </th>
      <td mat-cell *matCellDef="let element"> {{element.volumeMetric.toFixed(2)}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

  <table id="checklist">
    <tr>
      <th colspan="4">Checklist</th>
    </tr>
    <tr *ngFor="let question of questions">
      <td>{{question}}</td>
      <td>
        <mat-checkbox>Yes</mat-checkbox>
      </td>
      <td>
        <mat-checkbox>No</mat-checkbox>
      </td>
      <!-- <td>
        <mat-checkbox>N/A</mat-checkbox>
      </td> -->
    </tr>
  </table>

  <div class="next-button" fxLayout fxLayoutAlign="end">
    <button mat-raised-button color="primary" routerLink="/">
      Submit Checklist
    </button>
  </div>

</div>
