#measurement {
    width: 70%;
    margin-top: 2em;
}

#checklist {
    width: 70%;
    margin-top: 2em;
}

#checklist td, th {
    padding: 1em 2em;
}

#checklist tr:nth-child(even) {
    background: #CCC
}

#checklist tr:nth-child(odd) {
    background: #FFF
}

.next-button {
    margin-top: 2em;
    width: 70%;
    margin-bottom: 3em;
}