/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Ubuntu', "Helvetica Neue", sans-serif; }

.container {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 3em;
}